In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
# ramdomness
df = df.sample(df.shape[0],ignore_index=True)

In [5]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 103 Gurgaon,flat,signature global grand iva,0.50,6667.0,750.0,Built Up area: 750 (69.68 sq.m.)Carpet area: 6...,2,2,0,not available,"Sector 103, Sector 103 Gurgaon, Gurgaon, Haryana",10.0,North,undefined,"['Dwaraka Expy, Tikampur Village', 'Sector 108...",Best in class property available at sector 103...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Green Area5 out of 5', 'Construction5 out of..."
1,4 BHK Flat in DLF Phase 5,flat,dlf icon,5.80,20707.0,2801.0,Built Up area: 2801 (260.22 sq.m.),4,4,3+,not available,"Dlf City Phase 5, DLF Phase 5, Gurgaon, Haryana",18.0,NaN,undefined,"['Sector 53-54 metro station', 'Sector 42-43 m...",Best in class property available at dlf city p...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
2,10 Bedroom House for sale in Bhondsi,house,independent,1.35,3857.0,3500.0,Plot area 3500(325.16 sq.m.),10,6,3+,not available,"Bhondsi, Gurgaon, Bhondsi, Gurgaon, Haryana",3.0,NaN,10+ Year Old,NaN,Check out this 10 bhk independent house for sa...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,2 BHK Flat in Sector 74 Gurgaon,flat,m3m skywalk,1.55,13790.0,1124.0,Super Built up area 1406(130.62 sq.m.)Built Up...,2,2,3+,others,"T1-1111, Sector 74 Gurgaon, Gurgaon, Haryana",18.0,South,1 to 5 Year Old,"['Omaxe Gurgaon Mall', 'Omaxe Celebration Mall...",This lovely 2 bhk apartment/flat in sector 74 ...,NaN,"['Centrally Air Conditioned', 'Security / Fire...",NaN
4,4 Bedroom House for sale in Sector 26 Gurgaon,house,dlf city phase 1,5.50,30556.0,1800.0,Plot area 200(167.23 sq.m.),4,4,3,"pooja room,study room,servant room","Sector 26 Gurgaon, Gurgaon, Haryana",2.0,North-East,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, g block, dlf phase-1, gurga...","['10 Light', 'No AC', 'No Bed', 'No Chimney', ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...",NaN

In [6]:
df.to_csv('gurgaon_properties.csv',index=False)

In [7]:
df.shape

(3961, 20)